extends ../_layout.jade

block head
    head
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
        link(rel="stylesheet",href="/journal/main.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="../js/bootstrap.min.js")
        meta(name="theme-color",content="#156a8b")
        title= title

block navigation
        nav(class="navbar navbar-default navbar-static-top" role="navigation")
            div(class="container-fluid")
                // Brand and toggle button
                div(class="navbar-header")
                    button(type="button",class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-nav-header")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/") Lucas
                // Nav links that get toggled
                div(class="collapse navbar-collapse" id="collapsed-nav-header")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/journal")
                                |Blog Posts

block content
        div(class="container")
            div(class="row")
                div.col-sm-1
                div.col-sm-10(style="padding-bottom:4em")
                    != yield
                    div(class="container")
                        div.col-sm-10(style="padding-top:3em")
                            != partial ("article-nav")
                div.col-sm-1

