@import "_bootstrap/bootstrap";
@import "prism/prism";
h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: inherit;
  font-family: "Lato";
}
body{
  line-height: 1.8;
}
h1 {
    line-height: 1.15;
    & + p {
        font-size:1.5em;
    }
}
@font-size-base: 24px;
.nav.navbar-nav{
  font-weight: 400;
}
.post-list,.post-item{list-style:none;margin-left:0;padding-left:0;}
.post-item{ margin-bottom:4em;}
.page-title{margin-top:0.7em;}
.page-nav{ display: block; font-weight: 700; font-size: 1.15em; text-align: center;}
.post-link:hover{color: @brand-warning;}
#footer {
  padding-bottom: 0.3em;
  padding-top:1em;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
@link-hover-color: @brand-warning;
@link-hover-decoration: none;
