@import "_bootstrap/bootstrap";
body{
  line-height: 1.8;
}
h1 {
    font-weight: 600;
    line-height: 1.15;
    & + p {
        font-size:1.7em;
    }
}
p, ul, li{
  font-size: 1.3em;
}
.post-list,.post-item{list-style:none;margin-left:0;padding-left:0;}
.post-item{ margin-bottom:1.4em;}
.page-title{margin-top:1.4em;}
.page-nav{ display: block; font-weight: 700; font-size: 1.15em; text-align: center;}

#footer {
  padding-bottom: 0.3em;
  padding-top:1em;
  background-color: @gray-lighter
}
