@import "_bootstrap/bootstrap";
@import "http://fonts.googleapis.com/css?family=PT+Sans|Bitter|Arvo";
body{
  font-family: "PT Sans", "Helvetica";
  line-height: 1.8;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.15;
    & + p {
        font-size:1.7em;
    }
}
p {
  font-size: 1.1em;
}
footer {
  margin: 3em 0;
}

h1, h2, h3, h4, h5, h6, less{
  font-family:"Bitter", "Helvetica Neue", "serif";
}
nav{
  font-family:"Arvo", "Helvetica Neue", "serif";
}
.post-list,.post-item{list-style:none;margin-left:0;padding-left:0;}
.post-item{margin-bottom:1.4em;}
.page-title{margin-top:1.4em;}
