doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    meta(name="theme-color",content="#156a8b")
    head
        title Lucas Melin
    body
        navigation
        != yield
    #footer
        p Copyright &copy; Lucas Melin 2014
