doctype
html
    head
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
        link(rel="stylesheet",href="/main.css")
        meta(name="theme-color",content="#156a8b")
        title Lucas Melin
    body
        //a(id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle")
        //   i(class="fa fa-bars")
        nav(class="navbar navbar-inverse navbar-static-top" role="navigation")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button",class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/index") Lucas
        block content
            != yield
    #footer
        p.text-center
            a(href="https://plus.google.com/+LucasMelin/")
                i(class="fa fa-google-plus-square fa-lg",style="padding-right:4px;")
            a(href="http://instagram.com/sapping")
                i(class="fa fa-instagram fa-lg",style="padding-right:4px;")
        p.text-center(style="font-size:80%;") Copyright &copy; Lucas Melin 2014
