doctype
html
    head
        link(rel="stylesheet" href="/main.css")
        meta(name="theme-color",content="#156a8b")
        title Lucas Melin
    body
        navigation
        != yield
    #footer
        p.text-center Copyright &copy; Lucas Melin 2014
