div.jumbotron.jumbotron-scroll
    div.container
        div.row
            div.col-xs-9(style="text-align: center;")
                h1 Lucas Melin
                less Intensely interested in the intricate
                p I'm a software geek who loves tinkering with things and writing code. Currently, I'm enrolled in the Computer Science program at Algonquin college.
            div.col-xs-3
                img.img-responsive(src="/headshot.png",alt="Lucas Melin")
div.container-fluid
    div.row#main-col-1
        div.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3(style="padding: 50px 20px 50px 20px;")
            span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                i.fa.fa-desktop.fa-stack-1x.fa-inverse
            p(style="font-size:1.3em;") I've been enthralled with computers ever since my dad brought home a Pentium III desktop when I was 8. It only took me a few months to start designing webpages and writing simple scripts. I love understanding how each individual piece works and fits into the greater whole.
    div.row#main-col-2
        div.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3(style="padding: 50px 20px 50px 20px;")
            span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                i.fa.fa-code.fa-stack-1x.fa-inverse
            p(style="font-size:1.3em;") Most of my web development experience is in front-end development using HTML, CSS, Javascript and JS frameworks. I also have experience with Java and Python, and I'm currently working on developing Android apps.
    div.row#main-col-3
        div.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3(style="padding: 50px 20px 50px 20px;")
            span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                i.fa.fa-book.fa-stack-1x.fa-inverse
            p(style="font-size:1.3em;")  In my leisure time, I enjoy photography, drawing and reading. My favourite topics include <a href="/journal/norman-foster">architecture</a>, <a href="/journal/meryra">history</a> and <a href="/journal/ant-rafts">nature</a>. You can check out what I'm currently reading on <a href="https://www.goodreads.com/user/show/4056980-lucas">Goodreads</a>.
            p
div.container



