div(class="jumbotron")
    div(class="container")
        div(class="row")
            div(class="col-xs-9")
                h1 Lucas Melin
                less Intensely interested in the intricate
                p
                p I've always had a passion for the detailed and minute. Since I was little, I've loved exploring what exactly makes things work the way they do.
                p I'm a software geek who loves tinkering with things. In my leisure time, I like to study architecture, history and nature, and I am a voracious reader.
            div(class="col-xs-3")
                img.img-responsive(src="/headshot.png",alt="Lucas Melin")
div(class="container")
    p
div(class="container")
    p


