div.jumbotron
    div.container
        div.row
            div.col-xs-9
                h1 Lucas Melin
                less Intensely interested in the intricate
                p
                p I'm a software geek from Ontario who loves tinkering with things and writing code.
                p I've always had a passion for the detailed and minute. Since I was little, my passion has been exploring what makes things work the way they do.
            div.col-xs-3
                img.img-responsive(src="/headshot.png",alt="Lucas Melin")
div.container
    div.container
        div.row
            div.col-xs-12
                h1 About Me
                span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-code.fa-stack-1x.fa-inverse
                p(style="font-size:1.3em;") When I was 8, my family got its first computer. I wrote my first webpage in pure HTML a few months after, and I haven't looked back since. I have however added a few more tools to my skillset over the years, including <strong>CSS</strong> and <strong>Javascript</strong>, <strong>Python</strong> and <strong>Linux</strong>-based environments.
                p(style="font-size:1.3em;") I'm a hard working programmer who is always focused on improving his skills, whether that means learning a new language, or improving my understanding of the language I'm using.
                p(style="font-size:1.3em;") In my leisure time, I like to study <a href="/journal/norman-foster">architecture</a>, history and <a href="/journal/ant-rafts">nature</a>, and read voraciously.
                p
div.container
    p


