div.jumbotron.jumbotron-scroll
    div.container
        div.row
            div.col-xs-9(style="text-align: center;")
                h1 Lucas Melin
                less Intensely interested in the intricate
                p I'm a software geek from Ontario who loves tinkering with things and writing code.
            div.col-xs-3
                img.img-responsive(src="/headshot.png",alt="Lucas Melin")
div.container-fluid
    div.row#main-col-1
        div.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3(style="padding: 50px 20px 50px 20px;")
            span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                i.fa.fa-user.fa-stack-1x.fa-inverse
            p(style="font-size:1.3em;") I've always had a passion for the detailed and minute. Ever since I was little, I've been exploring what makes things work the way they do.
    div.row#main-col-2
        div.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3(style="padding: 50px 20px 50px 20px;")
            span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                i.fa.fa-code.fa-stack-1x.fa-inverse
            p(style="font-size:1.3em;") When I was 8, my family got its first computer. I wrote my first webpage in pure HTML a few months after, and I haven't looked back since. Browse <a href="https://github.com/Sapping">some of my projects</a> over on Github, or check out this page's <a href="https://github.com/Sapping/sapping.github.io">source code</a>, which is also hosted over on Github.
    div.row#main-col-3
        div.col-lg-8.col-lg-offset-2.col-md-6.col-md-offset-3(style="padding: 50px 20px 50px 20px;")
            span.fa-stack.fa-3x.pull-left(style="margin-right: 15px;")
                i.fa.fa-book.fa-stack-1x.fa-inverse
            p(style="font-size:1.3em;") I'm a hard working programmer who is always focused on improving his skills, whether that means learning a new language, or improving my understanding of the language I'm using. In my leisure time, I like to study <a href="/journal/norman-foster">architecture</a>, history and <a href="/journal/ant-rafts">nature</a>, and read voraciously.
            p
div.container



