div(class="jumbotron")
    div(class="container")
        h1 Lucas Melin
        p I've always had a passion for the intricate and minute. Since I was little, I loved exploring what exactly makes things work the way they do.
        p I'm a software geek who loves tinkering with things and figuring out how they work. In my leisure time, I like to study architecture, roman history and nature, particularly insects and I am a voracious reader.
