@import "_bootstrap/bootstrap";
@import "prism/prism";
h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: inherit;
}

.jumbotron-scroll{
  background-image: url("/TileableBackground40opacity.png");
  background-attachment: fixed;
  background-position: top;
  h1{
    text-shadow: 2px 2px 0 @gray-lighter;
  }
}
body{
  line-height: 1.8;
}
h1 {
    font-weight: 600;
    line-height: 1.15;
    & + p {
        font-size:1.7em;
    }
}
@font-size-base: 19.5px;
.nav.navbar-nav{
  font-weight: 400;
}

#footer {
  padding-bottom: 0.3em;
  padding-top:1em;
}
#code-icon{
  color:@brand-success;
}
#user-icon{
  color:@brand-primary;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wufoo{
    font-family:"Roboto";
}

