<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
div.container
    div.row
        div.col-xs-9
            h2 Get In Touch With Me
            p
            p
                span.fa-stack.fa-1x.pull-left
                    i.fa.fa-envelope.fa-stack-1x.fa
                b Email:
                b <script>mail("lucas.melin","gmail",0,"")</script>
            p
                span.fa-stack.fa-1x.pull-left
                    i.fa.fa-linkedin.fa-stack-1x.fa
                b LinkedIn: <a href = "https://www.linkedin.com/in/melinlucas">Lucas Melin</a>
            p
                span.fa-stack.fa-1x.pull-left
                    i.fa.fa-github-alt.fa-stack-1x.fa
                b Github: <a href = "https://www.linkedin.com/in/melinlucas">Sapping</a>
